
.flip-card {
    background-color: transparent;
    width: 254px;
    height: 340px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color:  #ffe2c2;
    color: black;
}

.flip-card-back {
    background: #17a2b8;    
    color: #ffe2c2;
    transform: rotateY(180deg);
    position: relative;
    border-radius: 4px;
}

#itens {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}
  
#itens article {
    position: relative;
}
  
#itens img {
    height: 90%;
    width: 90%;
    object-fit: cover;
}

@media (min-width: 320px) {
    #itens {
        max-width: 960px;
        margin: 0 auto 30px 35px;
    }
}
@media (min-width: 360px) {
    #itens {
        max-width: 960px;
        margin: 0 auto 30px 53px;
    }
}
@media (min-width: 375px) {
    #itens {
        max-width: 960px;
        margin: 0 auto 34px 62px;
    }
}
@media (min-width: 411px) {
    #itens {
        max-width: 960px;
        padding: 0 auto 34px 73px;
    }
}
@media (min-width: 425px) {
    #itens {
        margin: 0 auto 34px 89px;
    }
}
@media (min-width: 455px){
    #itens {
        margin: 0 auto 34px 0px;
    }
}
@media (min-width: 600px){
    #itens {
        margin: 0 auto 34px 21px;
    }
}
@media (min-width: 700px){
    #itens {
        margin: 0 auto 34px 76px;
    }
}
@media (min-width: 800px){
    #itens {
        margin: 0 auto 34px 96px;
    }
}
@media (min-width: 1024px) {
    #itens {
        margin: 0 auto 34px 55px;
    }
}
@media (min-width: 1030px) {
    #itens {
        max-width: 960px;
        margin: 0 auto 30px;
    }
}